doctype html
html(lang="en")
  head
    meta(charset='utf-8')/
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block pageTitle        

    link(href='../css/reset.css'
         rel='stylesheet'
         type='text/css')/

    link(href='../css/master.css'
         rel='stylesheet'
         type='text/css')/

    link(href='../css/bootstrap/css/bootstrap.min.css'
         rel='stylesheet'
         type='text/css')/

    block userScripts
  body
    #wraper
        block header
            include header
        block contain
        block footer
            include footer
    div.clear

    block script
        include script